:root {
  --branding-color: #6c63ff;
  --branding-color-light: #f9f7fe;
  --primary-text-color: #272142;
  --white-text: #fff;
  --headers-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
.hero {
  text-align: center;
  background-color: var(--branding-color-light);
  padding: 150px 20px;
}
h1 {
  font-family: var(--headers-font-family);
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: var(--primary-text-color);
}
h2 {
  font-family: var(--headers-font-family);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--primary-text-color);
}

.project-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text-color);
  opacity: 70%;
  line-height: 30px;
}
.btn {
  background-color: var(--branding-color);
  color: var(--white-text);
  border-radius: 4px;
  border: 1px solid #000;
  font-size: 18px;
  padding: 15px 30px;
}
.btn-projects {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--branding-color);
  padding: 18px 25px;
}
.project-info {
  padding: 120px 60px;
}

.content-section {
  padding: 160px 20px;
  margin: 30px;
}
.content-section h1 {
  font-family: var(--headers-font-family);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}
.content-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.content-section p {
  font-family: var(--default-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 70%;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }

  .project-info {
    padding: 0;
    text-align: center;
  }
  .content-section {
    padding: 0;
    text-align: center;
  }
  .content-section h1 {
    font-size: 40px;
  }
}
